@using Sitecore.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
    <h1>Propeller Demo Page</h1></div>
<div>
    @Html.Sitecore().Placeholder("Content")
</div>
</body>
</html>
