@using Sitecore.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Propeller.Mvc.Demo - @ViewBag.Title</title>
    <link href="~/styles/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    @Html.Sitecore().Placeholder("Content")
</div>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>
