<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="ViewModelResolver.Infrastructure.MappedViewModelProcessor, ViewModelResolver" />
      </initialize>
    </pipelines>
    <viewModelResolver>
      <excludeAssemblies>
        <assembly fileName="Sitecore.*" />
        <assembly fileName="Antlr3.Runtime.dll" />
        <assembly fileName="ComponentArt.Web.UI.dll" />
        <assembly fileName="CsQuery.dll" />
        <assembly fileName="CustomFields.AccountSelector.dll" />
        <assembly fileName="DotNetOpenAuth.dll" />
        <assembly fileName="EcmaScript.NET.dll" />
        <assembly fileName="Hammock.ClientProfile.dll" />
        <assembly fileName="Facebook.*" />
        <assembly fileName="FacebookAPI.dll" />
        <assembly fileName="RadEditor.Net2.dll" />
        <assembly fileName="proto-buf-net.dll" />
        <assembly fileName="Stimulsoft.*" />
        <assembly fileName="MongoDB.*" />
        <assembly fileName="NewtonSoft.*" />
        <assembly fileName="Telerik.*" />
        <assembly fileName="Lucene.*" />
        <assembly fileName="Google.*" />
        <assembly fileName="Microsoft.*" />
        <assembly fileName="System.*" />
        <assembly fileName="WebGrease.dll" />
        <assembly fileName="TweetSharp.dll" />
        <assembly fileName="Mvp.Xml.dll" />
        <assembly fileName="Yahoo.Yui.Compressor.dll" />
        <assembly fileName="mscorlib.dll" />
        <assembly fileName="OAuthLinkedIn.dll" />
        <assembly fileName="HtmlAgilityPack.dll" />
        <assembly fileName="Iesi.Collections.dll" />
        <assembly fileName="ITHit.WebDAV.Server.dll" />
        <assembly fileName="AutofacContrib.SolrNet.*" />
        
      </excludeAssemblies>
    </viewModelResolver>
  </sitecore>
</configuration>
